/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: auto;
  background-color: #c7c7c7;
  color: #333;
}

.container {
  padding: 16px;
  background: #85858e;
  border-radius: 10px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.rate-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.results-card {
  margin-top: 16px;
  padding: 10px;
}

.vehicle-title {
  text-align: center;
  margin-bottom: 10px;
  color: #000;
}

.rate-section {
  text-align: center;
  margin-bottom: 20px;
}

.rate-section h3 {
  margin-bottom: 10px;
  color: #000;
}

/* envolver todo en el mismo Div Center */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-template-rows: 1fr 1fr; /* Dos filas */
  gap: 20px; /* Espacio entre tarjetas (simula la cruz blanca) */
}

.center-currencyDOP {
  flex: 3;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 0 auto;
}

.left-align-currencyUSD {
  font-weight: normal;
  color: #000000;
}

.right-align-input .ant-input-number-input {
  text-align: right; /* Alinea el texto dentro del input a la derecha */
}

.right-align-input .ant-input-number {
  width: 120px; /* Ancho fijo para consistencia */
  margin-left: auto; /* Alinea el input a la derecha */
}

.price-card,
.customs-card,
.taxes-card,
.final-declaration-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 1.2s, box-shadow 0.2s;
}

.price-card:hover,
.customs-card:hover,
.taxes-card:hover,
.final-declaration-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.price-card h4,
.customs-card h4,
.taxes-card h4,
.final-declaration-card h4 {
  color: #444;
  text-align: center;
  margin-bottom: 30px;
}

.price-card p,
.customs-card p,
.taxes-card p,
.final-declaration-card p {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  margin: 10px 0;
  gap: 10px; /* Espacio entre elementos */
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
}

.price-card .center-content,
.customs-card .center-content,
.taxes-card .center-content,
.final-declaration-card .center-content {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price-card hr,
.customs-card hr,
.taxes-card hr,
.final-declaration-card hr {
  border: none;
  height: 3px;
  background: #000000;
  margin: 15px 0;
}

.price-card .total,
.customs-card .total,
.taxes-card .total,
.final-declaration-card .total {
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}

/* Responsive */

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .price-card,
  .customs-card,
  .taxes-card,
  .final-declaration-card {
    padding: 15px;
  }

  .price-card h4,
  .customs-card h4,
  .taxes-card h4,
  .final-declaration-card h4 {
    font-size: 1.1em;
  }

  .price-card p,
  .customs-card p,
  .taxes-card p,
  .final-declaration-card p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
  }

  .price-card .ant-input-number,
  .customs-card .ant-input-number,
  .taxes-card .ant-input-number,
  .final-declaration-card .ant-input-number {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }
}
